.nav-bar-container
{
	background-color: transparent;
}

.nav-bar-container_menu
{
	display: flex;
	font-weight: 800;
	list-style: none;
	padding: 20px 0;
}

.nav-bar-container_menu-item
{
	flex: auto;
}