.nav-bar-container
{
	background-color: transparent;
}

.nav-bar-container_menu
{
	display: flex;
	font-weight: 800;
	list-style: none;
	padding: 20px 0;
}

.nav-bar-container_menu-item
{
	flex: auto;
}

.nav-bar-container_menu .nav-bar-container_menu-item a{
	color: white;
	text-transform: uppercase;
	font-weight: normal;
}

@media (min-width: 750px){
	.nav-bar-container{
		min-height: 650px;
	}
}