/*Portfolio section*/
#portfolio-block
{
	position: relative;
	min-height:338px;
}
.titulo
{
	padding: 10px;
}
.containt-section
{
	background-color: #F7F7F8;
	cursor: pointer;
	position: absolute;
}
.containt-section:hover
{
	background-color:#FFCD0D; 
	color: #FFF;
}
.imagen
{
	position: relative;
}
.velo-yellow
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 0, 0);
	cursor: pointer;
	z-index: 1;
}
.velo-yellow:hover
{
	background: rgba(255, 255, 0, 0.23);
}
.navigator
{
	color: #000;
	font-weight: 600;
	padding: 2px 20px;
}
.active, .navigator:hover
{
	background-color: #FFCD0D;
	border-radius: 25px;
	color: #FFF;
	text-decoration: none;
}
.portfolio-section__tags
{
	margin-bottom: 1em;
}
/*--------------------------------------------*/

/*Portfolio item*/

	.portfolio_item img{
	float:left;
	margin:.5em;
	}
	.portfolio_item .portfolio__item-header{
	color: #FF662B;
	margin-top:.5em;
	font-weight: 800;
	}