/*
----------------------------------------------------
Who we are Section
-------------------------------------------------
*/
.wwa-section
{
	background-image: url(../images/bg_gris.svg);
	background-position: center top;
	background-repeat: no-repeat;
	    background-size: cover;
    padding: 4em 0 20em 0;
}
.wwa-cont_image
{
	margin: 10px 0px 50px 0;
	text-align: center;
}
.wwa-cont_image img
{
	border-radius: 50%;
    border: 2px solid white;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

.wwa-cont_text
{
	text-align: center;
}
.wwa-cont_text p
{
	line-height: 30px;
}

.fire
{
	position: relative;
	left: -33%;
	transition: all 1s;
}
.way
{
	position: relative;
	right: -33%;
	transition: all 1s;
}
/*
-----------------------------------------------
Who we are End Section
------------------------------------------------
*/