/*
----------------------------------------------------
Who we are Section
-------------------------------------------------
*/
.wwa-cont_image
{
	text-align: center;
}
.wwa-cont_image img
{
	border-radius: 50%;
    border: 2px solid white;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

.wwa-cont_text
{
	text-align: center;
}
/*
-----------------------------------------------
Who we are End Section
------------------------------------------------
*/